@model IEnumerable<DTE_Project.ViewModels.MstDivisionVM>
@{
	ViewData["Title"] = "State Master";
	Layout = "~/Views/Shared/_MainMaster.cshtml";
}
<div class="row page-titles mx-0">
	<div class="col-sm-6 p-md-0">
		<div class="welcome-text">
			<h4>Division Master</h4>
		</div>
	</div>
	<div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="#">Master</a></li>
			<li class="breadcrumb-item"><a href="#">Location Master</a></li>
			<li class="breadcrumb-item active"><a href="#">Division Master</a></li>
		</ol>
	</div>
</div>
<div class="card">
	<div class="card-header">
		<div class="col-md-8">
			<h4 class="card-title">
				Division Master
			</h4>
		</div>
		<div class="col-md-4 text-end">
			<a asp-action="Create" class="btn btn-primary shadow sharp me-1">
				Add Division
			</a>
		</div>
	</div>
	<div class="card-body">
		<table class="dataTable display responsive nowrap w-100">
			<thead>
				<tr>
					<th scope="col">Sr. No.</th>
					<th scope="col">State Name</th>
					<th scope="col">Division Name (English)</th>
					<th scope="col">Division Name (Hindi)</th>
					<th scope="col">Division Code No.</th>
					<th scope="col">Status</th>
					<th scope="col">Actions</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var division in Model.Select((value, index) => new { value, index }))
				{
					<tr>
						<td>@(division.index + 1)</td> <!-- Displaying serial number -->
						<td>@division.value.StateNameEng</td>
						<td>@division.value.DivisionNameEng</td>
						<td>@division.value.DivisionNameHin</td>
						<td>@division.value.DivisionCode</td>
						<td>
							@if (division.value.IsActive)
							{
								<span class="badge bg-success">Active</span>
							}
							else
							{
								<span class="badge bg-danger">Inactive</span>
							}
						</td>
						<td>
							<a href="@Url.Action("Edit", "DivisionMaster", new { id = division.value.DivisionId })" class="btn btn-outline-primary"><i class="fa fa-pencil-alt"></i></a>

							<button class="btn btn-outline-danger" type="submit" onclick="deleteDivision(@division.value.DivisionId)">
								<i class="fa fa-trash"></i>
							</button>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>